<!-- BEGIN:main -->
<style>
.buttons button{

	margin: 10px;
}

</style>

<div class="box">
		<div class="item">
		    <h2>{lbl_fecha}:</h2> <p>{fecha}</p>
		</div>
		<div class="item">
		    <h2>{lbl_fechaVencimiento}:</h2> <p>{fechaVencimiento}</p>
		</div>
		<div class="item">
		    <h2>{lbl_tipoTarea}:</h2> <p>{tipoTarea}</p>
		</div>
		<div class="item">
		    <h2>{lbl_prioridad}:</h2> <p>{prioridad}</p>
		</div>
		<div class="item">
		    <h2>{lbl_responsable}:</h2> <p>{responsable}</p>
		</div>
		<div class="item">
		    <h2>{lbl_rol}:</h2> <p>{rol}</p>
		</div>
		<div class="item">
		    <h2>{lbl_supervisor}:</h2> <p>{supervisor}</p>
		</div>
		<div class="item">
		    <h2>{lbl_categoria}:</h2> <p>{categoria}</p>
		</div>
		<div class="item">
		    <h2>{lbl_estado}:</h2> <p class="{estadoCss}">{estado}</p>
		</div>
		<div class="item">
		    <h2>{lbl_padre}:</h2> <p>{padre}</p>
		</div>
		<div class="item">
		    <h2>{lbl_observaciones}:</h2> <p>{observaciones}</p>
		</div>
		
</div>
<!-- END:main -->