<html>
<!-- BEGIN: main-->
<head>
<title>{title}</title>
<link rel="stylesheet" href="{WEB_PATH}css/header_footer.css" type="text/css" />
<link type="text/css" href="{WEB_PATH}css/redmond/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="{WEB_PATH}js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{WEB_PATH}js/jquery-ui-1.8.10.custom.min.js"></script>

</head>
<body>
	<div id="wrap">
	  	<div id="header">
	  	<rasty id="header" />
	  	</div>
	  	<div id="inner-wrap">
	    <div id="content">{page}</div>
		</div>
		<div id="footer"><rasty id="footer" /></div> 
	</div>
</body>
<!-- END: main-->
</html>