<!-- BEGIN: main-->

<div id="editar">

	<center><h1>{title}</h1></center>

	<div class="row">
		<div class="col-12">
			<form class="crudform">
			
				<fieldset style="padding:20px;">
					<legend>{legend}</legend>
			
					{box}
								
				</fieldset>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
		
			<form  class="mjcrm_form" id="buttons{inputId}">
				<fieldset class="tblFooters">
					<button type="button"  id="input_button_2" onclick="javascript: window.location.href = '{backToUrl}'; "><i class="icon-volver on-left"></i>{lbl_back}</button>
				</fieldset>
			</form>	
		
		
			
		</div>
	</div>		
</div>

<!-- END: main-->